*.tar.gz
*.pyc
*.pth
*.tar
*.pickle
*.egg-info/
*.png
*.gif
*.mp4
*.npz
*.gzip
*.tex
*.html
*cfg.yaml
outputs/
/wandb/
out/*
data*/
debug*/
multirun/
build/
.venv/
.idea
.claude
*.npy
multirun.yaml
!assets/*
**/.DS_Store
